.header {
    background: url(/Plants/img/Rectangle26.jpg);
    
}

.wrapper {
    max-width: 1060px;
    margin: 0 auto;

}
.header__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    padding-top: 36px;
}

.header_item {
     margin-right: 82px;
}

.header__link{
    font-size: 18px;
    line-height: 24px;
    color: white;
    text-decoration: none;
}

.header_list {
display: flex;
flex-wrap: wrap;

}

.intro{
    height: 100vh;
    background-image: url(/Plants/img/bg.jpg);
    padding-top: 56px;
}

.intro__title {
max-width: 892px;
font-family: 'Aleo';
font-style: normal;
font-weight: 700;
font-size: 80px;
line-height: 96px;
color: #FFFFFF;
margin-bottom: 22px;
}

.intro__subtitle {
    font-family: 'Aleo';
font-style: italic;
font-weight: 700;
font-size: 20px;
line-height: 24px;
color: white;
}

 .search-form_field::placeholder{
font-size: 10px;
line-height: 24px;
color:black;
}

.search-form_submit{
padding: 10px 32px;
gap: 10px;
background: #0D606F;
width: 228px;
height: 59px;
left: 783px;
top: 433px;
}